[submodule "nextjs"]
	path = modules/nextjs
	url = https://github.com/vercel/next.js.git
[submodule "vercel"]
	path = modules/vercel
	url = https://github.com/vercel/vercel.git
[submodule "commerce"]
	path = modules/commerce
	url = https://github.com/vercel/commerce.git
[submodule "swr"]
	path = modules/swr
	url = https://github.com/vercel/swr.git
[submodule "examples"]
	path = modules/examples
	url = https://github.com/vercel/examples.git
[submodule "platforms"]
	path = modules/platforms
	url = https://github.com/vercel/platforms.git
[submodule "static-fun"]
	path = modules/static-fun
	url = https://github.com/vercel/static-fun.git
[submodule "vrs"]
	path = modules/vrs
	url = https://github.com/vercel/vrs.git
[submodule "ncc"]
	path = modules/ncc
	url = https://github.com/vercel/ncc.git
[submodule "pkg"]
	path = modules/pkg
	url = https://github.com/vercel/pkg.git
[submodule "nextjs-subscription-payments"]
	path = modules/nextjs-subscription-payments
	url = https://github.com/vercel/nextjs-subscription-payments.git
[submodule "next-learn"]
	path = modules/next-learn
	url = https://github.com/vercel/next-learn.git
[submodule "pkg-fetch"]
	path = modules/pkg-fetch
	url = https://github.com/vercel/pkg-fetch.git
[submodule "nextjs-discord-bot"]
	path = modules/nextjs-discord-bot
	url = https://github.com/vercel/nextjs-discord-bot.git
[submodule "serve-handler"]
	path = modules/serve-handler
	url = https://github.com/vercel/serve-handler.git
[submodule "release"]
	path = modules/release
	url = https://github.com/vercel/release.git
[submodule "next-rsc-demo"]
	path = modules/next-rsc-demo
	url = https://github.com/vercel/next-rsc-demo.git
[submodule "fetch-cached-dns"]
	path = modules/fetch-cached-dns
	url = https://github.com/vercel/fetch-cached-dns.git
[submodule "fun"]
	path = modules/fun
	url = https://github.com/vercel/fun.git
[submodule "async-retry"]
	path = modules/async-retry
	url = https://github.com/vercel/async-retry.git
[submodule "fetch"]
	path = modules/fetch
	url = https://github.com/vercel/fetch.git
[submodule "fetch-retry"]
	path = modules/fetch-retry
	url = https://github.com/vercel/fetch-retry.git
[submodule "micro"]
	path = modules/micro
	url = https://github.com/vercel/micro.git
[submodule "preview-mode-demo"]
	path = modules/preview-mode-demo
	url = https://github.com/vercel/preview-mode-demo.git
[submodule "serve"]
	path = modules/serve
	url = https://github.com/vercel/serve.git
[submodule "next-server-components"]
	path = modules/next-server-components
	url = https://github.com/vercel/next-server-components.git
[submodule "arg"]
	path = modules/arg
	url = https://github.com/vercel/arg.git
[submodule "test-listen"]
	path = modules/test-listen
	url = https://github.com/vercel/test-listen.git
[submodule "micro-dev"]
	path = modules/micro-dev
	url = https://github.com/vercel/micro-dev.git
[submodule "rcurl"]
	path = modules/rcurl
	url = https://github.com/vercel/rcurl.git
[submodule "async-sema"]
	path = modules/async-sema
	url = https://github.com/vercel/async-sema.git
[submodule "release-auth"]
	path = modules/release-auth
	url = https://github.com/vercel/release-auth.git
[submodule "next-plugins"]
	path = modules/next-plugins
	url = https://github.com/vercel/next-plugins.git
[submodule "git-hooks"]
	path = modules/git-hooks
	url = https://github.com/vercel/git-hooks.git
[submodule "commerce-framework"]
	path = modules/commerce-framework
	url = https://github.com/vercel/commerce-framework.git
[submodule "stripe-integration"]
	path = modules/stripe-integration
	url = https://github.com/vercel/stripe-integration.git
[submodule "remark-capitalize"]
	path = modules/remark-capitalize
	url = https://github.com/vercel/remark-capitalize.git
[submodule "shaurl"]
	path = modules/shaurl
	url = https://github.com/j5pu/shaurl.git
[submodule "mnopi"]
	path = modules/mnopi
	url = https://github.com/j5pu/mnopi.git
[submodule "turborepo"]
	path = modules/turborepo
	url = https://github.com/vercel/turborepo.git
